@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for history */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Pastel Polka Dot Background */
.bg-dots {
  background-color: #fff1f2; /* Rose 50 */
  /* Reduced dot size (1.5px) and grid size (20px) for a finer pattern */
  background-image:  radial-gradient(#f472b6 1.5px, transparent 1.5px), radial-gradient(#c084fc 1.5px, transparent 1.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}